/*a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}*/
html, body{
    background-color: #fff;
    font-size: 0.875rem;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'robotolight';
    font-weight: 300;
    width:100%;
}
h1,
h2,
h3 {
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 4.375rem;
    line-height: 5.5rem;
    color:#fff;
}
h2 {
    font-size:1.875rem;
    line-height: 3rem;
    text-transform: uppercase;
    font-family: 'playfair_displayblack';

}
h3 {
    font-size:1.375rem;
    line-height: 2.5rem;  
    text-transform: uppercase;
    font-family: 'playfair_displaybold';
}
h4 {
    font-size: 0.875rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'robotoblack';
}
h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color:#223d61;
    text-transform: uppercase;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.375rem;
    font-size: 0.875rem;
}
p:last-child {
    margin-bottom: 0px;
}
@media (max-width: 992px){
    .navbar-mobile{
    max-height: 340px;
    overflow: scroll;}
    
    .grid-item img{
        width: 100%;
    }
}

.header .menu_nav{
    width:100%}
.header .navbar{
    background-color: rgba(34, 61, 97, 0.64);
    border:0px;
    border-radius:0px;
    width:100%;
    padding-top:0;
    padding-bottom:0}

.navbar-toggler{
        border:none;
        border-radius:0px;
        padding:0px;
        cursor:pointer;
        margin-top:27px;
        margin-bottom:23px}

.navbar-toggler[aria-expanded="false"] span:nth-child(2){
        opacity:1}
.navbar-toggler[aria-expanded="true"] span:nth-child(2){
        opacity:0}
.navbar-toggler[aria-expanded="true"] span:first-child{
        transform:rotate(-45deg);
        position:relative;
        top:7.5px}
.navbar-toggler[aria-expanded="true"] span:last-child{
        transform:rotate(45deg);
        bottom:6px;
        position:relative}
.navbar-toggler span{
        display:block;
        width:25px;
        height:3px;
        background:#00e0d0;
        margin:auto;
        margin-bottom:4px;
        transition:all 400ms linear;
        cursor:pointer}

.header .navbar .nav .nav-item{
    margin-right:38px}
.header .navbar .nav .nav-item .nav-link{
    font-family:"Roboto",sans-serif;
    color:#fff;
    /*text-transform:;*/
    font-weight:400;
    padding:33px 0;
    display:inline-block}
.header .navbar .nav .nav-item .nav-link:after{
    display:none}
.header .navbar .nav .nav-item:hover .nav-link,
.header .navbar .nav .nav-item .nav-link.active{
    color:#00e0d0;
    opacity:1}

.overlay {
    background-color: rgba(76, 61, 114, 0.5);
    width: 100%;
    height: 670px;
}

.home{
    background: url(../images/homebg.jpg) no-repeat 100% 100%;
    background-size: cover;
}

.home .content_home{
    padding-top: 250px;
}

.home .content_home h4{
    color: #fff;
    padding-bottom: 25px;
    font-size:4.5rem;
    line-height: 5rem;
}
.home .content_home h2{
    color: #fff;
    font-size:2rem;
}
.home .content_home p{
    color: #fff;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 30px
}

.separator {
    height: 1px;
    width: 127px;
    margin: 20px auto;
    background: #00e0d0;
}

.btn {
    display: inline-block;
    min-width: 160px;
    padding: .8em;
    height: 45px;
    text-align: center;
    color: #00e0d0;
    letter-spacing: 1px;
    margin: 0;
    font-size: 20px;
    border-radius: 0px;
    margin-top: 20px;
    background-color: transparent;
    transition: .5s;
    border: 1px solid #00e0d0;
    font-family: 'hammersmith_oneregular';

}
.btn:hover {
    background-color:#00e0d0;
    color: #fff;
    text-decoration: none;
    border: 1px solid #00e0d0;
}

.btn-primary {
    background-color: transparent;
    transition: .5s;
    padding: 9px 30px;
}

.sections {
    padding-top:85px;
    padding-bottom: 105px;
    overflow: hidden;
}

.video-overlay {
    background-color: rgba(76, 61, 114, 0.8);
    width: 100%;
    height: auto;
}

.story-video{
    background: url(../images/videobg.jpg) no-repeat top center;
    background-size:cover;
}
.story-video .main-video{
    padding: 200px 0px;
    overflow: hidden;
}
.story-video .play-icon{}
.story-video .play-icon h3{
    color:#fff;
    margin-top:30px;
    margin-bottom: 0px;
}
.head_title{
    margin-bottom:90px;
}
.head_title h3{
    color:#413d4b;
}
.head_title p{
    font-family: 'playfair_displayregular';
}

.separator2 {
    height: 2px;
    width: 50px;
    margin:20px auto;
    background: #c6c4c9;

}

.border_devider{
    width:100%;
    height: 2px;
    background: #ddd;
    overflow: hidden;
    margin:20px 0px;
    display: inline-block;

}

.service{
    position: relative;
    background: #ffffff;
}
.main_service_area{}
.service .service-feature {
  
    margin-bottom:30px;
    margin-top:20px;
    display: inline-block;
    width:100%;

}

.service .service-feature  .service-icon{
    margin-bottom: 25px;
}

.service .service-feature .service-icon i{
    color:#95e1d3;
    font-size:2rem;
}
.service .single_service .single_service_content{

}

.team{
    background: url(../images/teambg.jpg) no-repeat center center;
    overflow:hidden;
    background-size: cover;
    color:#fff;
}

.team .head_title h3{
    color:#fff;
}
.team .single_team_content{
    border:1px solid #fff;
    margin-top:30px;
    margin-left: 20px; 
    transition: all .6s;
}
.team .single_team_content:hover{
    transform: rotateY(360deg);
}

.team .single_team_content .single_team_img img{
    width:100%;

}
.team .single_team_content .single_team_text{
    padding: 20px 0px;
}
.team .single_team_content .single_team_text h4{
    margin-bottom: .0rem;
    display: inline-block;
}
.team .single_team_content .team .single_team_text p{}

.team .team_hiring_area{
    margin-top:60px;
}
.team .team_hiring_area p{
    margin-bottom:0;
}
.team .team_hiring_area a{
    margin-top:20px;
    text-transform: uppercase;
}
.portfolio{
    overflow: hidden;
    width:100%;
}
.main_portfolio .head_title{
    max-width: 80%;
    padding-bottom: 90px;
    margin:0 auto;
}
.main_portfolio .head_title h4{
    display: inline-block;
    float:left;
    font-size:1.375rem;
}
.main_portfolio .head_title a{
    display: inline-block;
    float:right;
    color:#413d4b;
}

.main_portfolio_content{}

.grid{}

.portfolio .grid-item{
    position: relative;
}

.portfolio .grid-item:hover .grid_item_overlay{
    opacity: 1;
}
.portfolio .grid_item_overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 33%;
    color: #fff;
    transition: all 0.6s;
    opacity: 0;
    background-color: rgba(76, 61, 114, 0.55)
}
.portfolio .grid_item_overlay p{
    color:#fff;
    margin-bottom:5px;
}
.portfolio .grid_item_overlay i{
    margin-bottom:10px;
    font-size:2rem;
    color:#FFF;
}
.contact{
    background: #fff;
}

.contact .main_clinetslogo{

}
.contact .main_clinetslogo a {
    overflow: hidden;
    margin-top:20px;
    display: inline-block;
}
.contact .main_clinetslogo a img{

}
.main_footer .right_menu{
    padding: 40px 0px;
}
.main_footer .right_menu li a{
    color:#fff;
}
.copyright_text p{
    color:#fff;
    line-height: 25px;
    padding:40px;
    max-width: 100%;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#3bd3ba;
}
.footer_widget{
    background: url(../images/footerbg.jpg) no-repeat top center;
    color:#fff;
    background-size: cover;
}
.footer_widget .main_widget{
    padding: 55px 15px 10px 15px; 
    overflow: hidden;
}
.single_widget{
    margin-bottom:30px;
}
.single_widget ul li{
    list-style-type:none;
    margin-bottom:10px;
}
.single_widget ul li a{
    width:100%;
    display:block;
    overflow: hidden;
    font-size:0.875rem;
    color:#fff;
    line-height: 1.4rem;
}
.single_widget ul li a i{
    width:8%;
    margin-right:2%;
    float:left;
    color:#fff;
    font-size:1rem;
    padding: 2px;
}
.single_widget ul li a span{
    width:90%;
    float:left;
}

.footer_logo{
    margin-bottom: 20px;
}

.single_widget li.single_latest_news{
    margin-bottom: 20px;
}
.footer_subcribs_area .navbar-form {
    padding: 0;
}
.footer_subcribs_area .form-control {
    font-size: 14px;
    border: 1px solid #a199b4;
    color:#a199b4;
    border-radius:0px;
    width: 70%;
    display: inline-block;
    height: 45px;
    background-color:transparent;
    line-height: 20px;
}

.footer_subcribs_area .submit_btn{
    background: #a099b4;
    border: 0px solid #ccc;
    color: #333;
    padding: 5px 10px;
    border-radius: 0px;
    height: 45px;
    outline: none;
    width: 25%;
    transition: all .6s;
    margin-left:5px;
}

.footer_subcribs_area .submit_btn:hover{
    background: #fff;
    color: #47366d;
}
.footer_subcribs_area .submit_btn:before {
    content: "\f1d9";
    font-family: 'Fontawesome';
    text-align: center;
    font-size:1rem;
}
.footer_subcribs_area .flowus{
    margin-top:10px;
    display: inline-block;
}
.footer_subcribs_area .flowus a i{
    color:#fff;
    font-size:1rem;
    padding: 5px;
    border:1px solid #fff;
    border-radius: 50%;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 18px;
    margin-right:5px;
    margin-top:10px;
}
.footer_subcribs_area .flowus a i:hover{
    color:#6feee5;
    border:1px solid #6feee5;
}

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #95e1d3;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}